In [1]:
import pandas as pd
import numpy as np

In [6]:
# read summary file
df_summary_month=pd.read_csv('d:\\summary_crime.csv')
df_summary_month.info()

In [ ]:
train_x, test_x, train_label, test_label = splitTimeSeries(df_summary_month.filter()   )

In [4]:

def splitTimeSeries(df_train,labels,percentage):
    train_size = int(len(df_train) * 0.8)
    train_x     ,    test_x      = df_train[0:train_size], df_train[train_size:len(df_train)]
    train_label ,  test_label   = labels[0:train_size], labels[train_size:len(df_train)] 
    return train_x, test_x, train_label, test_label

In [20]:
#df_summary_month.drop(columns='NoOfCrimes'), df_summary_month.filter(['NoOfCrimes'])
#df_summary_month.filter(['NoOfCrimes'])


train_x, test_x, train_label, test_label = splitTimeSeries(df_summary_month.filter(['BORO_NM','LAW_CAT_CD','Year','Month']), df_summary_month.filter(['NoOfCrimes']),0.8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1620 entries, 0 to 1619
Data columns (total 6 columns):
Unnamed: 0    1620 non-null int64
BORO_NM       1620 non-null object
LAW_CAT_CD    1620 non-null object
Year          1620 non-null float64
Month         1620 non-null float64
NoOfCrimes    1620 non-null int64
dtypes: float64(2), int64(2), object(2)
memory usage: 76.1+ KB

            BORO_NM   LAW_CAT_CD    Year  Month
1296  STATEN ISLAND       FELONY  2017.0    2.0
1297  STATEN ISLAND       FELONY  2017.0    3.0
1298         QUEENS  MISDEMEANOR  2017.0    7.0
1299      MANHATTAN    VIOLATION  2016.0    5.0
1300  STATEN ISLAND       FELONY  2012.0    1.0
...             ...          ...     ...    ...
1615  STATEN ISLAND    VIOLATION  2013.0   12.0
1616  STATEN ISLAND    VIOLATION  2016.0    4.0
1617  STATEN ISLAND    VIOLATION  2013.0   10.0
1618  STATEN ISLAND    VIOLATION  2016.0   12.0
1619  STATEN ISLAND    VIOLATION  2015.0    1.0

[324 rows x 4 columns]